# Ignorar carpetas de dependencias
/vendor/
node_modules/

# Ignorar archivos de configuración sensibles
.env

# Ignorar archivos de bases de datos locales o respaldos
*.log
*.sql
*.sqlite
*.bak
*.zip

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos temporales de PHPStorm, VSCode u otros editores
.idea/
.vscode/
